doctype html
html
    head
    link(rel='stylesheet' href='/dist/style.css' type='text/css')
    body
        h1 Hello World!

        p This page doesn't have any content yet.!!!

        script(src="bundle.js")